<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd
pd.set_option("max_rows", 100)

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
round(data[data['sex'] == 'Female']['age'].mean())

37

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
german_amount = data[data['native-country'] == 'Germany']['native-country'].value_counts()
german_amount / data.shape[0] * 100

Germany    0.420749
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
filtered_ages = data[data['salary']=='>50K']['age']
print("Mean of age for those who earn more than 50K per year: {0}".format(round(filtered_ages.mean())))
print("Standart deviation of age for those who earn more than 50K per year: +- {0}".format(round(filtered_ages.std(), 1)))

Mean of age for those who earn more than 50K per year: 44
Standart deviation of age for those who earn more than 50K per year: +- 10.5

In [7]:
other_filtered_data = data[data['salary']=='<=50K']['age']
print("Mean of age for those who earn less than 50K per year: {0}".format(round(other_filtered_data.mean())))
print("Standart deviation of age for those who earn less than 50K per year: +- {0}".format(round(other_filtered_data.std(), 1)))

Mean of age for those who earn less than 50K per year: 37
Standart deviation of age for those who earn less than 50K per year: +- 14.0

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [8]:
#Short way
pd.crosstab(data['salary'], data['education'])

education  10th  11th  12th      ...       Preschool  Prof-school  Some-college
salary                           ...
<=50K       871  1115   400      ...              51          153          5904
>50K         62    60    33      ...               0          423          1387

[2 rows x 16 columns]

In [9]:
#Long way, but contains answer
high_school_education_type = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters or Doctorate']
people_education_types = data[data['salary']=='>50K']['education'].unique()
result =list(set(high_school_education_type) - set(people_education_types))
print(len(result) == 0)

False

In [10]:
#Третий способ(без использования set)
def is_no_common_data(list1, list2): 
    result = True
    for x in list1: 
        for y in list2:  
            if x == y: 
                result = False
                return result  
                  
    return result

In [11]:
is_no_common_data(people_education_types, high_school_education_type)

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [12]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean  ...     75%   max
race               sex                         ...
Amer-Indian-Eskimo Female    119.0  37.117647  ...   46.00  80.0
                   Male      192.0  37.208333  ...   45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  ...   43.75  75.0
                   Male      693.0  39.073593  ...   46.00  90.0
Black              Female   1555.0  37.854019  ...   46.00  90.0
                   Male     1569.0  37.682600  ...   46.00  90.0
Other              Female    109.0  31.678899  ...   39.00  74.0
                   Male      162.0  34.654321  ...   42.00  77.0
White              Female   8642.0  36.811618  ...   46.00  90.0
                   Male    19174.0  39.652498  ...   49.00  90.0

[10 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [13]:
men = data[data['sex'] == 'Male']
men[men['marital-status'].apply(lambda state: state.startswith('Married'))]['salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [14]:
men[men['marital-status'].apply(lambda state: not state.startswith('Married'))]['salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [15]:
print("Maximum number of hours a person works per week:")
max_hours_per_week = data['hours-per-week'].max()
print(max_hours_per_week)

Maximum number of hours a person works per week:
99

In [16]:
print('Amount of people who work maximum number per week:')
max_works_people = data[data['hours-per-week'].apply(lambda state: state == max_hours_per_week)]
max_works_people_amount = len(max_works_people)
print(max_works_people_amount)

Amount of people who work maximum number per week:
85

In [17]:
rich_max_works_people = round(max_works_people[max_works_people['salary'] == '>50K'].shape[0] / max_works_people_amount * 100)
print('Percentage of those who earn a lot (>50K) among them: {0}%'.format(rich_max_works_people))

Percentage of those who earn a lot (>50K) among them: 29%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [18]:
data.groupby(['native-country', 'salary'])['hours-per-week'].describe()
#Japan: for >50K - 48 and for <=50K - 41

                                     count       mean  ...     75%   max
native-country             salary                      ...
?                          <=50K     437.0  40.164760  ...   45.00  99.0
                           >50K      146.0  45.547945  ...   50.00  80.0
Cambodia                   <=50K      12.0  41.416667  ...   40.50  50.0
                           >50K        7.0  40.000000  ...   40.00  40.0
Canada                     <=50K      82.0  37.914634  ...   40.00  70.0
                           >50K       39.0  45.641026  ...   51.00  72.0
China                      <=50K      55.0  37.381818  ...   40.00  60.0
                           >50K       20.0  38.900000  ...   41.25  60.0
Columbia                   <=50K      57.0  38.684211  ...   40.00  60.0
                           >50K        2.0  50.000000  ...   50.00  50.0
Cuba                       <=50K      70.0  37.985714  ...   40.00  70.0
                           >50K       25.0  42.440000  ...   50.00  60.0
Dominican-Republic         <=50K      68.0  42.338235  ...   40.00  98.0
                           >50K        2.0  47.000000  ...   50.50  54.0
Ecuador                    <=50K      24.0  38.041667  ...   40.00  66.0
                           >50K        4.0  48.750000  ...   50.00  50.0
El-Salvador                <=50K      97.0  36.030928  ...   40.00  60.0
                           >50K        9.0  45.000000  ...   50.00  55.0
England                    <=50K      60.0  40.483333  ...   45.00  99.0
                           >50K       30.0  44.533333  ...   50.00  85.0
France                     <=50K      17.0  41.058824  ...   50.00  66.0
                           >50K       12.0  50.750000  ...   50.00  99.0
Germany                    <=50K      93.0  39.139785  ...   45.00  70.0
                           >50K       44.0  44.977273  ...   50.00  70.0
Greece                     <=50K      21.0  41.809524  ...   55.00  75.0
                           >50K        8.0  50.625000  ...   61.25  65.0
Guatemala                  <=50K      61.0  39.360656  ...   40.00  60.0
                           >50K        3.0  36.666667  ...   40.00  40.0
Haiti                      <=50K      40.0  36.325000  ...   40.00  75.0
                           >50K        4.0  42.750000  ...   44.00  56.0
Holand-Netherlands         <=50K       1.0  40.000000  ...   40.00  40.0
Honduras                   <=50K      12.0  34.333333  ...   40.00  45.0
                           >50K        1.0  60.000000  ...   60.00  60.0
Hong                       <=50K      14.0  39.142857  ...   40.00  50.0
                           >50K        6.0  45.000000  ...   43.75  65.0
Hungary                    <=50K      10.0  31.300000  ...   47.50  60.0
                           >50K        3.0  50.000000  ...   55.00  60.0
India                      <=50K      60.0  38.233333  ...   40.00  84.0
                           >50K       40.0  46.475000  ...   50.00  72.0
Iran                       <=50K      25.0  41.440000  ...   48.00  65.0
                           >50K       18.0  47.500000  ...   53.75  70.0
Ireland                    <=50K      19.0  40.947368  ...   42.00  55.0
                           >50K        5.0  48.000000  ...   60.00  60.0
Italy                      <=50K      48.0  39.625000  ...   40.00  80.0
                           >50K       25.0  45.400000  ...   50.00  67.0
Jamaica                    <=50K      71.0  38.239437  ...   40.00  70.0
                           >50K       10.0  41.100000  ...   40.00  50.0
Japan                      <=50K      38.0  41.000000  ...   41.50  65.0
                           >50K       24.0  47.958333  ...   50.00  99.0
Laos                       <=50K      16.0  40.375000  ...   40.00  50.0
                           >50K        2.0  40.000000  ...   40.00  40.0
Mexico                     <=50K     610.0  40.003279  ...   40.00  99.0
                           >50K       33.0  46.575758  ...   50.00  80.0
Nicaragua                  <=50K      32.0  36.093750  ...   40.00  60.0
                           >50K        2.0  37.500000  ...   38.75  40.0
Outlying-US(Guam-USVI-etc) <=50K      14.0  41.857143  ...   50.25  60.0
Peru                       <=50K      29.0  35.068966  ...   40.00  60.0
                           >50K        2.0  40.000000  ...   40.00  40.0
Philippines                <=50K     137.0  38.065693  ...   40.00  99.0
                           >50K       61.0  43.032787  ...   40.00  80.0
Poland                     <=50K      48.0  38.166667  ...   40.00  65.0
                           >50K       12.0  39.000000  ...   40.00  50.0
Portugal                   <=50K      33.0  41.939394  ...   40.00  84.0
                           >50K        4.0  41.500000  ...   42.50  50.0
Puerto-Rico                <=50K     102.0  38.470588  ...   40.00  80.0
                           >50K       12.0  39.416667  ...   42.50  50.0
Scotland                   <=50K       9.0  39.444444  ...   40.00  55.0
                           >50K        3.0  46.666667  ...   50.00  60.0
South                      <=50K      64.0  40.156250  ...   48.50  99.0
                           >50K       16.0  51.437500  ...   60.00  70.0
Taiwan                     <=50K      31.0  33.774194  ...   40.00  60.0
                           >50K       20.0  46.800000  ...   55.00  84.0
Thailand                   <=50K      15.0  42.866667  ...   52.50  80.0
                           >50K        3.0  58.333333  ...   62.50  75.0
Trinadad&Tobago            <=50K      17.0  37.058824  ...   40.00  60.0
                           >50K        2.0  40.000000  ...   40.00  40.0
United-States              <=50K   21999.0  38.799127  ...   40.00  99.0
                           >50K     7171.0  45.505369  ...   50.00  99.0
Vietnam                    <=50K      62.0  37.193548  ...   40.00  77.0
                           >50K        5.0  39.200000  ...   40.00  40.0
Yugoslavia                 <=50K      10.0  41.600000  ...   40.00  66.0
                           >50K        6.0  49.500000  ...   58.00  65.0

[82 rows x 8 columns]